<h1>Episode #<%= @episode.number %></h1>

<% if @episode.guests.length > 0 %>
	<h4>Guests</h4>
	<ul>
		<% @episode.guests.each do |g| %>
			<li><%= link_to "#{g.name} - #{g.occupation}", g %></li>
		<% end %>
	</ul>
<% else %>
	<h4>No Guests :(</h4>
<% end %>
